.container{
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: space-evenly;
  align-items: center;
}
.text-text{
  display: flex;
  flex-direction: column;
  width: 42%;
  border: 2px solid #B56917;
  row-gap: 20px;
  align-items: center;
  animation: right 2s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

}

.hire{
  width: 90%;
  height: 200px;
  padding-top: 10px;
  font-family: custom-font;
  text-align: center;
  font-size: 20px;
}

.about-text{
  width: 80%;
  height: 150px;
  text-align: center;
  padding-top: 20px;
  font-family: custom-font;
  font-size: 20px;
}

.line1 {
  width: 1px;
  height: 300px;
  border: 2px solid white;
}

.about-me{
  font-family: custom-font;
  font-size: 30px;
  animation: left 2s ease;
  animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

@keyframes right{
  0%{
    opacity: 0;
    transform: translateX(50px) scale(1);
  }
  100%{
    opacity: 1;
    transform: translateX(0px) scale(1)
  }
}

@keyframes left{
   0%{
    opacity: 0;
    transform: translateY(-50px) scale(1);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}