.soc-icons{
  width: 30px;
  height: 30px;
}

.icon-container{
  width: 200px;
  display: flex;
  column-gap: 20px;
}

.foot-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08203e;
}