.me {
  width: 100%;
  height: 100%;
    border-radius: 50%;

}

.pic {
  width: 350px;
  height: 350px;
  animation: fade-up 1s ease;
}

@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hero-section{
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  border: 1px solid green;
}

.hero-text{
  border: 1px solid black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 15px;
}