.me {
  width: 100%;
  height: 100%;
    border-radius: 50%;

}

.pic {
  width: 350px;
  height: 350px;
  animation: fade-up 2s ease;
  
}

@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translateY(50px) scale(0);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hero-section{
  display: flex;
  justify-content: space-evenly;
  height: 655px;
  align-items: center;
}

.hero-text{
  border: 2px solid #B56917;
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding: 15px;
  font-family: custom-font;
  animation: left 2s ease;
}

.hero-name{
  font-size: 50px;
}

@keyframes left{
  0%{
    opacity: 0;
    transform: translateX(-30px) scale(0);
  }
  100%{
    transform: translateX(0px) scale(1);
  }
}

.btns{
  padding-top: 20px;
}

.click {
  text-decoration: none;
  color: white;
}

.click:hover{
  background-color: rgb(13, 116, 243);
  color: white
}