nav {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  width: auto;
  height: 75px;
  padding: 15px;
  column-gap: 750px;
}

.text-logo {
  color: white;
  font-size: 35px;
}

.text-container{
  border:  1px solid yellow;
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 250px;
  list-style: none;
  justify-content: center;
}

.nav-text{
  color: white;
  border: 1px solid red;
  width: 70px;
  text-align: center;
}