nav {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  width: auto;
  height: 75px;
  padding: 15px;
  column-gap: 750px;
  font-family: custom-font;
  position:  sticky; top: 0;
  z-index: 50;
}

.text-logo {
  color: white;
  font-size: 35px;
}

.text-container{
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 250px;
  list-style: none;
  justify-content: center;
}

.nav-text{
  color: white;
  width: 70px;
  text-align: center;
  text-decoration: none;
  width: 70px;
  display: flex;
  justify-content: space-evenly;
}

.nav-text:hover{
  background-color: #0070FF;
}