.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 600px;
  font-family: custom-font;
  animation: proj 2s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes proj{
  0%{
    opacity: 0;
    transform: translateX(30px) scale(0);
  }
  100%{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.picture{
  width: 300px;
  height: 150px;

}
.proj-container{
  width: 1300px;
  display: flex;
  height: 350px;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: mandatory;
  padding: 1rem;
}
.proj-cards{
  border: 1px solid white;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-cards:hover{
  scale: 1.1;
}

.proj-text{
  width: 90%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-btn{
  text-decoration: none;
  color: white;
  width: 40%;
}

.proj-btn:hover{
    background-color: #0070FF;
    border-radius: 10px;
}