* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'custom-font';
  src: url('./assets/cmunbto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}